/node_modules/
*.psd
*.png
*.jpg
*.gif
*.ico
/config.json
/old_version/
/core/modules/cosmetics/
/core/archetypes/Cafe.js
/core/archetypes/drops - Copy.js
/core/archetypes/Russia.js
/core/modules/dev/log.js
/core/modules/dev/reaction.js
/core/modules/dev/russroll.js
/core/modules/rubine/drop.js
/resources/lists/colors.json
