/node_modules/
*.psd
*.png
*.jpg
*.gif
*.ico
/config.json
/old_version/
/core/modules/cosmetics/
/core/archetypes/Cafe.js
/core/archetypes/drops - Copy.js
/core/archetypes/Russia.js
/core/modules/dev/log.js
/core/modules/dev/reaction.js
/core/modules/dev/russroll.js
/core/modules/rubine/drop.js
/resources/lists/colors.json
/utils/customs.json
/core/donFire.js
/core/modules/donators/
/core/modules/rubine/give.js
/core/modules/social/level.js
/core/modules/social/profile.js
/core/modules/social/rep.js
/core/modules/owner/
/core/modules/games/betflip.js
/core/modules/games/rotation.js
/core/modules/utility/
/core/modules/games/
/core/modules/moderation/unstructured/
/Pollux-b0f6c7eb29f4.json
/core/modules/forFun/faustão.js
/core/modules/forFun/goku.js
/core/modules/misc/morse.js
/core/modules/eastereggs/
/REWORK PENDING/
